@font-face {
  font-family: 'Commune Nuit Debout';
  src: url('~/assets/fonts/Poppins/Commune-NuitDebout.eot');
  src: url('~/assets/fonts/Poppins/Commune-NuitDebout.eot?#iefix')
      format('embedded-opentype'),
    url('~/assets/fonts/Poppins/Commune-NuitDebout.woff2') format('woff2'),
    url('~/assets/fonts/Poppins/Commune-NuitDebout.woff') format('woff'),
    url('~/assets/fonts/Poppins/Commune-NuitDebout.ttf') format('truetype'),
    url('~/assets/fonts/Poppins/Commune-NuitDebout.svg#Commune-NuitDebout')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('~/assets/fonts/Poppins/Poppins-SemiBold.eot');
  src: url('~/assets/fonts/Poppins/Poppins-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('~/assets/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
    url('~/assets/fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
    url('~/assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
    url('~/assets/fonts/Poppins/Poppins-SemiBold.svg#Poppins-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('~/assets/fonts/Poppins/Poppins-Regular.eot');
  src: url('~/assets/fonts/Poppins/Poppins-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('~/assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
    url('~/assets/fonts/Poppins/Poppins-Regular.woff') format('woff'),
    url('~/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
    url('~/assets/fonts/Poppins/Poppins-Regular.svg#Poppins-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('~/assets/fonts/Poppins/Poppins-Light.eot');
  src: url('~/assets/fonts/Poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/Poppins/Poppins-Light.woff2') format('woff2'),
  url('~/assets/fonts/Poppins/Poppins-Light.woff') format('woff'),
  url('~/assets/fonts/Poppins/Poppins-Light.ttf') format('truetype'),
  url('~/assets/fonts/Poppins/Poppins-Light.svg#Poppins-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

