@mixin text-style-big-title {
  font-size: 14.4rem;
  font-family: "Commune", sans-serif;
  text-decoration: none;
}

@mixin text-style-medium-title {
  font-size: 3.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
}

@mixin text-style-small-title {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
}

@mixin text-style-text {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

@mixin text-style-bold {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

