@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@font-face {
  font-family: 'commune';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/NuitDebout/Commune-Nuit_Debout_web.ttf')
    format('truetype');
}

@font-face {
  font-family: 'commune';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/NuitDebout/Commune-Nuit_Debout_web.otf')
    format('truetype');
}

@font-face {
  font-family: 'commune';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/NuitDebout/Commune-Nuit_Debout_web.eot')
    format('truetype');
}
@font-face {
  font-family: 'commune';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/NuitDebout/Commune-Nuit_Debout_web.woff')
    format('truetype');
}
@font-face {
  font-family: 'commune';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/NuitDebout/Commune-Nuit_Debout_web.woff2')
    format('truetype');
}

@font-face {
  font-family: 'commune';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/NuitDebout/Commune-Nuit_Debout_web.svg')
    format('truetype');
}
