* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  width: 100%;
  font-size: 1.6rem;
}

#app {
  display: grid;
  grid-template-rows: 10rem 1fr 5rem;
  min-height: 100vh;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: black;
}
