@import '../tokens/text-mixins';
@import '../tokens/colors';

body.dark {
  @include color-theme-dark;
}

body.light {
  @include color-theme-light;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--color-body-bg);
  color: var(--color-text);
  @include text-style-text;
  overflow-x: hidden;
  overflow-y: scroll;
}

#app {
  display: grid;
  grid-template-rows: 10rem 1fr 5rem;
  min-height: 100vh;
  padding: 1rem;
  position: relative;
}

#content {
  width: 100%;
  max-width: 80rem;
  margin: auto;
}

main {
  position: relative;
  z-index: 1;
}

a {
  color: inherit;
}

.svg-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
}

//canvas {
//  position: absolute;
//  left: 0;
//  top: 0;
//  max-width: 100%;
//  height: 100%;
//}
//
//body > *:not(canvas) {
//  position: relative;
//  z-index: 1;
//}
