@import '../tokens/text-mixins';
@import '../tokens/colors';

body[data-theme="dark"] {
  @include color-theme-dark;
}

body, body[data-theme="light"] {
  @include color-theme-light;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--color-body-bg);
  color: var(--color-text);
  @include text-style-text;
  overflow-x: hidden;
  overflow-y: scroll;
}

#app {
  display: grid;
  grid-template-rows: 10rem 1fr 5rem;
  min-height: 100vh;
  position: relative;
}

#content {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  padding: 0 2rem;
  min-height: 100%;
}

main {
  position: relative;
  z-index: 1;
}

a {
  color : var(--color-text)
}


.svg-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
}
