.u--d-flex {
  display: flex;
  align-items: center;
}

.u--justify-between {
  justify-content: space-between;
}

.u--justify-center {
  justify-content: center;
}

.u--align-center {
  text-align: center;
}
